.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
    }

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: var(--background-basic-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--background-basic-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus {
    fill: var(--accent-color);
}
}


.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-icon {
    position: absolute;
    top: 25%;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
      }
  }

  .modal-form-message {
    display: block;
    resize: none;
    width: 100%;
    min-height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
      }
    
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
  }

  .modal-form-check {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 20px;
    align-self: center;
  }

  .user-policy-link {
    color: var(--accent-color);
  }

  .modal-form-submit {
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-self: center;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    margin-top: 30px;
    color: var(--title-text-color);

    &:hover,
    &:focus {
      background-color: #188CE8;
    }
  }

  .modal-form-title {
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
  }

  .modal-check-icon {
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 7px;

    .modal-form-checkbox:checked + & {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
      }

    .modal-form-checkbox:focus + & {
        outline: 2px solid var(--accent-color);
      }

    .modal-form-input:focus + & {
        fill: var(--accent-color);
      }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  

  .modal-form-check {
    display: flex;
    align-items: center;
  }


  .modal-form-field {
    margin-bottom: 10px;
  }