
.activity-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.activity-list__wrapper {
    position: relative;
}

.activity-list__overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-basic-color);
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}