.basement {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.basement-logo {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    font-family: 'Raleway';
    text-decoration: none;
    color: var(--title-text-color);
    margin-bottom: 20px;
    display: inline-block;
}

.basement-adress {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
    }
}

.basement-adr-li{
    margin-bottom: 8px;
}

.basement-contact-mail {
    font-size: 14px;
    line-height: 1.71;
    color: var(--basement-contact-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}

.basement-cont-li{
    margin-bottom: 8px;
}

.basement-contact {
    font-size: 14px;
    line-height: 1.71;
    color: var(--basement-contact-color);
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}

.plus-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.basement-container-social {
    margin-top: 60px;
}

.social-list-link-basement {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #2196F3;
}
}

.social-icons-basement {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.subscribe-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 20px;
}

.email-sbscribe {
    width: 100%;
    margin-right: 12px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    background-color: var(--secondary-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-btn{
    display: flex;
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 0px 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.subscribe-besement {
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    .basement-container{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe-besement {
        width: 450px;
    }

    .basement-container-adress {
        margin-right: 165px;
    }
}

@media screen and (min-width: 1200px) {
    .basement {
        text-align: left;
    }
    
    .basement-container-adress {
        margin-right: 70px;
        flex-grow: 1;
        flex-wrap: nowrap;
    }

    .subscribe-besement {
        width: 570px;
    }

    .subscrb-form {
        display: flex;
    }

    .basement-container-social {
    margin-right: 93px;
    margin-top: 0;
    }

    .subscribe-btn{
        display: flex;
        cursor: pointer;
        background-color: var(--accent-color);
        border-radius: 4px;
        border: none;
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        padding: 0px 28px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}