// .mobile-menu-container {
//     position: relative;

// }

.mobile-menu-container {
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-nav__item {
    margin-bottom: 30px;
}

.mobile-menu__close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 10px;
    right: 15px;

        &:hover .mobile-menu__close-icon,
        &:focus .mobile-menu__close-icon {
            fill: #2196F3;
        }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-nav__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-bottom: 32px;

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mobile-nav__link_active {
    color: #2196F3;
}


.mobile-contacts__tel {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.mobile-contacts__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-top: 32px;
}

.mobile-social {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.mobile-social__link {
    position: relative;
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}