.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.button-link {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    background-color: var(--button-background-color);
    letter-spacing: 0.03em;
    line-height: 1.63;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}



.project-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project-list-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.project-list-wrapper {
    position: relative; 
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--title-text-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-list-link:hover &,
    .project-list-link:focus & {
    transform: translateY(0%);
}
}



.project-container {
    background-color: var(--background-basic-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.project-paragraph {
    font-size: 16px;
    line-height: 1.88;
    color: var(--paragraph-text-color);
    letter-spacing: 0.03em;
   
}