
.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    display: flex;
    align-items: center;
    column-gap: 30px;
   }

.team__item {
    background-color: var(--background-basic-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--paragraph-text-color);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;  
}

.social-list__item {
    width: 44px;
    height: 44px;
}

.social-list__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #2196F3;
}

}


.social-list__icons {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus &{
    fill: #FFFFFF;
}
}


