.logo {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    line-height: 1.19;
    font-family: 'Raleway';
    margin-right: 93px;
}

.logo__accent {
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    text-decoration: none;
}
