:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-color: #2196F3;
    --title-text-color: #FFFFFF;
    --background-basic-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --button-background-color: #F5F4FA;  
    --basement-contact-color: rgba(255, 255, 255, 0.6);
    }
    